<!-- BEGIN BLOCK_EVENTS -->

	<h3>Next events for {LOCATION_NAME} <a href="../view/"> (back to map)</a></h3>
	
	<!-- BEGIN BLOCK_EVENT -->
	<div style="margin-top:25px; border: 1px solid; padding: 20px; overflow: auto;"> 
		<h3 style="margin-bottom: 10px;">{EVENT_NAME}</h3>
		
		<p style="padding: 5px;">
		<span style="font-weight: bold;">When: </span> {START_DATE} to {END_DATE}
		</p>
		
		<p style="padding: 5px;">
		<span style="font-weight: bold;">Where: </span> {ADDRESS}
		</p>
		
		<p style="padding: 5px;">
		<span style="font-weight: bold;">Details: </span> {DETAILS}
		</p>
		
		<div style="clear: both; margin: 20px; margin-bottom: 10px; overflow: auto;">
			<!-- BEGIN BLOCK_BOOK_BUTTON -->
			<a href="../view/stands.php?eid={EVENT_ID}" class="b-confirm" style="margin: 0px; float: left;">Are you a company ? Book your place !</a>
			<!-- END BLOCK_BOOK_BUTTON -->
			<a  href="../view/attendeeToEvent.php?eid={EVENT_ID}" class="b-confirm" style="margin: 0px; float: right; background-color: #0099CC;">Register as Attendee</a>
		</div>
	</div>
	<!-- END BLOCK_EVENT -->

<!-- END BLOCK_EVENTS -->

<!-- BEGIN BLOCK_NO_EVENTS -->
No events available. Please, select another location.
<!-- END BLOCK_NO_EVENTS -->
