
<!-- BEGIN BLOCK_AVAILABLE -->

<p id="region-desc" style="font-size: 24px; width: 80%; margin: 0 auto;">
&nbsp;
</p>

<div id="map-container" style="width: 100%; overflow: auto;">
	<div id="countrymap" style="width: 80%; height: 600px; margin: 0 auto;"></div>
</div>

<form name="frmSelCountry" id="frmSelCountry" action="../process/setCountry.php" method="post" style="display: none;">
	<input name="selCountry" id="selCountry" value="" />
</form>
<!-- END BLOCK_AVAILABLE -->

<!-- BEGIN BLOCK_NO_EVENTS -->
<p style="clear: both; float: none; padding-top: 30px; padding-bottom: 30px; text-align: center;">	
If you're part of Crossover team, please access the <a href="../admin/">admin area</a> with the following credentials to create new events:
<br/><br/>
User: booker
<br/>
Pass: booker123
</p>	
<!-- END BLOCK_NO_EVENTS -->
