<link rel="stylesheet" href="../js/jqvmap/jqvmap.css" type="text/css" />
<script type="text/javascript" src="../js/jqvmap/jquery.vmap.min.js"></script>
<script type="text/javascript" src="../js/jqvmap/maps/jquery.vmap.world.js"></script>
 
<script type="text/javascript">
jQuery(document).ready(function() {	
	var originalSelectedRegions = [{REGIONS_WITH_EVENTS}];
	loadMap(originalSelectedRegions);
});

function loadMap(originalSelectedRegions){
	$('#countrymap').remove();
	var objDivDesc = $("#region-desc");
	$('#map-container').append('<div id="countrymap" style="width: 80%; height: 600px; margin: 0 auto;"></div>');
	$('#countrymap').vectorMap({
		map: 'world_en',
		backgroundColor: '#e5e5e5',
		color: '#484a4c',
		selectedColor: '#5cb85c',
		enableZoom: false,
		showTooltip: false,
		selectedRegions: originalSelectedRegions,
		onRegionClick: function(element, code, region)
	    {
	        if (originalSelectedRegions.indexOf(code.toUpperCase()) == -1){
	        	$("#selCountry").attr("value", "");
	        	alert(region + " has no events.")
	        	loadMap(originalSelectedRegions);
	        }else{
	        	$("#selCountry").attr("value", code.toUpperCase());
	        	$("#frmSelCountry").submit();
	        }
	    },
	    onRegionOver: function(element, code, region)
	    {
			$(objDivDesc).html(region);
	    },
	    onRegionOut: function(element, code, region)
	    {
			$(objDivDesc).html("&nbsp;");
	    }
	    
	});	
}
</script>